html{
    font-size: 10px;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li,ul{
    -webkit-appearance: none;
}

input,select {
    display: block;
    outline: none;
    border:none;
    background: #ff7a7b;
    border-bottom: 0.25rem solid lightslategrey;
    font-size: 2rem;
    line-height: 2rem;
    transition: 0.25s;
}

select:focus,input:focus{
    border-bottom: 0.25rem solid black;

}

label{
    display: block;
    margin-top: 1rem;
}


body{
    height: 100vh;
    max-width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* Nav bar */
nav{
    background-color:red;
    color:white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

nav .material-icons{
    font-size: 3rem;
}

/* Hamburger Button */
#hamburgerButton{
    display: none;
    position: fixed;
    left: 0;
    color:white;
}

#hamburgerButton .hamburger:hover{
    opacity: 1;
}

/* Content Container (Menu + List of Tasks */
.contentContainer{
    flex:1;
    position: relative;
    display: flex;
}

/* Menu */
.menu{
    width: 35rem;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    background-color: #ff7a7b;
    font-size: 2.25rem;
    font-weight: bold;
    color:black;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

[data-tab]{
    position: relative;
    margin:1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:0.25rem solid white;
    cursor: pointer;
}

[data-tab]::before{
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    width: 0;
    height: 0.25rem;
    content: '';
    background-color: transparent;
    -webkit-transition: all 0.25s;
}

[data-tab]:hover:before{
    width: 100%;
   background-color: red;
   z-index: 1;
}


/* Project lists on the left side */
.Projects{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    flex-direction: column;
    justify-content: start;
    cursor:default;
}

[data-tab='Projects']:hover{
    border:none;
}

/* custom the scroll bar */
.listProjectsContainer{
    width: 90%;
    height: 100%;
    overflow:auto;
    font-size: 1.5rem;
    margin: 1.25rem 0 1.25rem 0;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #ff6868;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(252, 63, 63);
}

/* Each item in the project list */
.listProjectsContainer li{
    position: relative;
    padding: 0.5rem;
    border-bottom: 0.2rem solid white;
    line-height: 2.5rem;
    margin-right: 1.5rem;
    display: grid;
    grid-template-columns: 3.5rem 1fr 2.5rem;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.listProjectsContainer li:hover{
    background-color: red;
}

.listProjectsContainer .material-icons{
    font-size: 2rem;
    color: pink;
    justify-self: flex-start;
}

.listProjectsContainer .material-icons:hover{
    font-size: 2.5rem;
}

[data-numTasksOf]{
    color:white;
    margin-right:0.5rem;
    background-color: #ff5959;
    display: flex;

    width:3rem;
    height: 3rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

/* Confirm delete a project */
.confirmDeleteProject{
    display: none;
}
.confirmDeleteProject.active{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.confirmDelete,.cancelDelete{
    width: 45%;
    border: 0.25rem solid white;
    text-align: center;
    color: white;
}

.confirmDelete:hover,.cancelDelete:hover{
    background-color: red;
}
/* List tasks container */
.projectInfoContainer{
    background-color: lightpink;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectInfoHeader{
    padding: 0 1rem 0 1rem;
    width: 90%;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 16rem;
    align-items: center;
    margin: 1rem;
    font-size: 2rem;
    border-bottom: 0.25rem solid white;
}

.dueDateSort{
    display: flex;
    justify-content: start;
    align-items: center;
}

.dueDateSort:hover{
    font-size: 2.1rem;
    cursor: pointer;
}

.projectInfoHeader h3{
    margin-left: 1rem;
}

.projectInfoHeader .material-icons{
}

.listOfTasks{
    width: 90%;
    font-size: 1.75rem;
    height: 80vh;
    overflow: auto;
}

.listOfTasks::-webkit-scrollbar {
    width: 0.75rem;
}

.task{
    display: grid;
    height: 3.5rem;
    margin: 1rem;   
    padding: 0 1rem 0 1rem;
    grid-template-columns: 2rem 1fr 9rem 2rem 2rem;
    gap:1rem;
    justify-items: start;
    align-items: center;
    transition: 0.25s;
    cursor: pointer;
    z-index: 0;
    background-color: #FF9A8B;
}

.task.High{
    border-left: 0.5rem solid red;
}

.task.Medium{
    border-left: 0.5rem solid rgb(0, 204, 0);
}

.task.Low{
    border-left: 0.5rem solid yellow;
}

.task:hover{
    box-shadow: 0.5rem 0.5rem 0.75rem rgb(255, 46, 46);
    -webkit-transform: translateY(-0.5rem) translateX(-0.5rem);
}

.task .material-icons{
    margin: 0.5rem;
    font-size: 1.75rem;
}

.dueDate{
    justify-self: end;
}

.task .material-icons:hover{
    font-size: 2rem;
}

/* Task description */
.popUpDetailBg{
    visibility: visible !important;
}

.popUpDetail{
    position: relative;
    width: 50vw;
    height: auto;
    border: 0.25rem solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    font-size: 2rem ;
    background-color:lightpink ;
    line-height: 3rem;;
}

.popUpDetail h3{
    align-self: center;
}

#closeDetailButton{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

#closeDetailButton:hover{
    color:red;
}

/* Add buttons */
.addButtonsContainer{
    position: absolute;
    bottom:2rem;
    right:2rem;
    font-size:2rem;
    background-color: brown;
}

.addButtonsContainer span{
    display: block;
    margin: 1rem;
}

#addButton{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

#addButton .material-icons{
    font-weight: bolder;
    font-size: 3rem;
}

#addButton.active{
    -webkit-transform: rotate(90deg);
}

.createTaskButtonContainer,
.createProjectButtonContainer{
    display: flex;
    visibility: hidden;
    position: absolute;
    bottom: 5rem;
    right: 0;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    transition: 0.5s ease-in-out;
    background: red;
    color: white;
    width: 13rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.3rem 0.3rem 0.3rem lightcoral;
}

.createProjectButtonContainer{
    right: 0;
    bottom: 5rem;
}



#createTaskButton,
#createProjectButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0 50% 50% 0;
    background-color: red;
    border:none;
    border-left: 0.25rem solid white;
    cursor: pointer;
}

.createTaskButtonContainer.active{
    visibility: visible;
    -webkit-transform: translateY(-9rem);
}

.createProjectButtonContainer.active{
    visibility: visible;
    -webkit-transform: translateY(-2.5rem);
}

.material-icons{
    color: white;
}

/* Pop up modal */
input{
    display: block;
}

.popupModalBg,
.popUpDetailBg{
    visibility: hidden;
    position: absolute;;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupModalBg.active{
    visibility: visible;
    z-index: 2;
}

.createProjectModal{
    display: none;
    position: relative;
    width: 50rem;
    height: 15rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 2rem;
    margin:1rem;
    background-color: #ff7a7b;

}

.createProjectModal.active{  
    display: flex;
}


.createProjectModal input{
    width: 80%;
}

#submitNewProject{
    width: 80%;
}

.createTaskModal{
display: none;
}

.createTaskModal h2{
    text-align: center;
}

.createTaskModal.active{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 60rem;
    background-color: #ff7a7b;
    justify-content: space-between;
    font-size: 1.75rem;
    padding: 2.5rem;
}

#closeTaskForm,#closeProjectForm{
    font-size: 3rem;
    position: absolute;
    top:1rem;
    right: 1rem;
    border:none;
    color:white;
    background: inherit;
}

#closeTaskForm:hover,#closeProjectForm:hover{
    color: red;
}

select{
    max-height: 5rem;
    size:4;
    z-index: 2;
    font-size: 2rem;
}

textarea{
    font-size: 2rem;
    width: 100%;
    height: 12rem;
    resize: none;
    border: 0.25rem solid lightslategrey;
    margin-bottom: 1rem;
}

textarea:focus{
    border: 0.25rem solid black;
}

#submitNewTask,#submitNewProject{
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0.5rem;
}

/* Responsive */
@media (max-width: 800px) {
    html{
        font-size: 50%;
    }

    #hamburgerButton{
        display: block;
    }

    .menu{
        position: absolute;
        left: -35rem;
        top:0;
    }

    .menu.active{
        transform: translateX(35rem);
    }
}

