html{
    font-size: 62.5%;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li,ul{
    list-style: none;
}

body{
    height: 100vh;
    max-width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* Nav bar */
nav{
    background-color:red;
    color:white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

nav .material-icons{
    font-size: 3rem;
}

/* Hamburger Button */
#hamburgerButton{
    display: none;
    position: fixed;
    left: 0;
    color:white;
}

#hamburgerButton .hamburger:hover{
    opacity: 1;
}

/* Content Container (Menu + List of Tasks */
.contentContainer{
    flex:1;
    position: relative;
    display: flex;
}

/* Menu */
.menu{
    width: 35rem;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem;
    background-color: #ff7a7b;
    font-size: 2.5rem;
    font-weight: bold;
    color:black;
    transition: 0.3s ease-in-out;
}

[data-tab]{
    margin:1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.25rem solid white;
    border-radius: 1rem;
}

/* Project lists on the left side */
[data-tab='Projects']{
    height: 40vh;
    flex-direction: column;
    justify-content: start;
}

/* custom the scroll bar */
.listProjectsContainer{
    width: 85%;
    overflow:auto;
    font-size: 1.5rem;
    margin: 1.25rem 0 1.25rem 0;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #ff7878;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(252, 63, 63);
}

/* Each item in the project list */
.listProjectsContainer li{
    padding: 0.5rem;
    border-bottom: 0.2rem solid white;
}

.listProjectsContainer li:hover{
    background-color: red;
}


/* List tasks container */
.projectInfoContainer{
    background-color: lightpink;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectInfoHeader{
    padding: 0 1rem 0 1rem;
    width: 90%;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 16rem;
    align-items: center;
    margin: 1rem;
    font-size: 2rem;
    border-bottom: 0.25rem solid white;
}

.dueDateSort{
    display: flex;
    justify-content: start;
    align-items: center;
}

.dueDateSort:hover{
    font-size: 2.1rem;
    cursor: pointer;
}

.projectInfoHeader h2{
    margin-left: 1rem;
}

.projectInfoHeader .material-icons{
}

.listOfTasks{
    width: 90%;
    font-size: 1.75rem;
}

.task{
    display: grid;
    height: 3.5rem;
    margin: 1rem;   
    padding: 0 1rem 0 1rem;
    border-radius: 0.5rem;
    background-color: #ff5456;
    grid-template-columns: 2rem 1fr 9rem 2rem 2rem;
    gap:1rem;
    justify-items: start;
    border: 0.2rem solid transparent;
    align-items: center;
    transition: 0.25s;
}

.task:hover{
    border: 0.2rem solid white;
}

.task .material-icons{
    margin: 0.5rem;
    font-size: 1.75rem;
}

.dueDate{
    justify-self: end;
}

.task .material-icons:hover{
    font-size: 2rem;
}

/* Task description */
.popUpDetailBg{
    visibility: visible !important;
}

.popUpDetail{
    position: relative;
    width: 50vw;
    height: auto;
    border: 0.5rem solid white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    font-size: 2rem ;
    background-color:lightpink ;
    line-height: 3rem;;
}

.popUpDetail h3{
    align-self: center;
}

#closeDetailButton{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

#closeDetailButton:hover{
    color:red;
}

/* Add buttons */
.addButtonsContainer{
    position: absolute;
    bottom:2rem;
    right:2rem;
    font-size:2rem;
}

.addButtonsContainer span{
    display: block;
    margin: 1rem;
}

#addButton{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

#addButton .material-icons{
    font-weight: bolder;
    font-size: 3rem;
}

#addButton.active{
    -webkit-transform: rotate(90deg);
}

.createTaskButtonContainer,
.createProjectButtonContainer{
    display: flex;
    visibility: hidden;
    position: absolute;
    bottom: 5rem;
    right: 0;
    align-items: center;
    justify-content: flex-end;
    margin: 0.5rem;
    transition: 0.5s ease-in-out;
}

.createProjectButtonContainer{
    right: 5rem;
    bottom: 0;
}

.createTaskButtonContainer.active{
    visibility: visible;
    -webkit-transform: translateY(-6rem);
}

#createTaskButton,
#createProjectButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border:none;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}



.createProjectButtonContainer.active{
    visibility: visible;
    -webkit-transform: translateX(-6rem);
}

.material-icons{
    color: white;
}

/* Pop up modal */
input{
    display: block;
}

.popupModalBg,
.popUpDetailBg{
    visibility: hidden;
    position: absolute;;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.popupModalBg.active{
    visibility: visible;
}

.createProjectModal{
    display: none;
    width: 50rem;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    flex-direction: column;
    font-size: 2rem;
    padding: 1rem;
    margin:1rem;
}

.createProjectModal.active{  
    display: flex;
}

.createProjectModal input{
    width: 80%;
}

#submitNewProject{
    width: 80%;
}

.createTaskModal{
display: none;
}

.createTaskModal.active{
    display: flex;
    flex-direction: column;
}


/* Responsive */
@media (max-width: 800px) {
    html{
        font-size: 50%;
    }

    #hamburgerButton{
        display: block;
    }

    .menu{
        position: absolute;
        left: -35rem;
        top:0;
    }

    .menu.active{
        transform: translateX(35rem);
    }
}

